
<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
    <script src="https://kit.fontawesome.com/ebbaf8c785.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/style/all.css">
</head>
<body>
    <header class="header">
        <div class="left-header">
            <img src="./public/img/img.svg" alt="">
        </div>
        <div class="right-header">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
            <input type="text" placeholder="Search">
        </div>
    </header>

    <div class="nav">
        <p>Home > <%=link%></p>
    </div>

    <div class="addingProduct">
        <h2>Добавить товар</h2>
        <input type="text" placeholder="Название продукта">
        <input type="number" placeholder="Цена">
        <input type="text" placeholder="Скидка">
        <input type="text" placeholder="URL картинки">
        <button>Добавить продукт</button>
    </div>

</body>
</html>